*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
sentry.properties
keystore.properties
*.jks
*.keystore
play-store-key.json
fastlane/report.xml
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.claude/plans
.worktrees/
